<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Gratulujemy wygranej</title>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/winnerform/css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/winnerform/css/main.css') }}">

    <script src="{{ asset('/bundles/winnerform/js/libraries/jquery-2.0.3.min.js') }}"></script>
    <script src="{{ asset('/bundles/winnerform/js/libraries/validate.min.js') }}"></script>
    <script src="{{ asset('/bundles/winnerform/js/libraries/ezmark.min.js') }}"></script>
    <script src="{{ asset('/bundles/winnerform/js/main.js') }}"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>