{% extends "WinnerFormBundle:Layout:form.html.twig" %}
{% block content %}
    <div id="main">

        <header id="header">
        </header>

        <section id="winner-form">

            <h1>Gratulujemy!</h1>

            <form action="{{ path('winner_form_save') }}" id="user_form" autocomplete="off" novalidate="novalidate" method="POST">

                <div id="sliders">

                    <section id="step1">

                        <div class="container">
                            <p class="lead">
                                Abyśmy mogli wysłać do Ciebie nagrodę,
                                <br>uzupełnij swoje dane.
                            </p>

                            <div class="top-error" id="form-error"></div>

                            <fieldset>

                                <div class="input text">
                                    <input type="text" id="firstname" name="firstname" value="" placeholder="Imię">
                                    <i></i>
                                </div>

                                <div class="input text">
                                    <input type="text" id="surname" name="surname" value="" placeholder="Nazwisko">
                                    <i></i>
                                </div>

                                <div class="input text">
                                    <input type="text" id="street" name="street" placeholder="Ulica">
                                    <i></i>
                                </div>

                                <div class="grid">
                                    <div class="input text short hnumber col-2">
                                        <input type="text" id="hnumber" name="hnumber" placeholder="Numer domu">
                                        <i></i>
                                    </div>

                                    <div class="input text short nolabel flat col-2">
                                        <input type="text" id="flat" name="flat" placeholder="Numer mieszkania">
                                        <i></i>
                                    </div>
                                </div>
                                <div class="grid">

                                    <div class="input text col-2">
                                        <input type="text" id="zipcode" name="zipcode" placeholder="Kod pocztowy">
                                        <i></i>
                                    </div>

                                    <div class="input text col-2">
                                        <input type="text" id="city" name="city" value="" placeholder="Miejscowość">
                                        <i></i>
                                    </div>
                                </div>

                                <div class="input text">
                                    <input type="text" id="tel" name="tel" placeholder="Telefon kontaktowy">
                                    <i></i>
                                </div>


                        <div class="input type-checkbox m-top">
                                    <input type="checkbox" id="delivery_address" name="delivery_address" novalidate="">
                                    <label for="delivery_address">Inny adres do wysyłki nagrody</label>
                                </div>

                                <div class="delivery_address" style="display: none;">

                                    <div class="input text">
                                        <input type="text" id="delivery_street" name="delivery_street" placeholder="Ulica">
                                        <i></i>
                                    </div>

                                    <div class="grid">
                                        <div class="input text short hnumber col-2">
                                            <input type="text" id="delivery_hnumber" name="delivery_hnumber" placeholder="Numer domu">
                                            <i></i>
                                        </div>

                                        <div class="input text short nolabel flat col-2">
                                            <input type="text" id="delivery_flat" name="delivery_flat" placeholder="Numer mieszkania">
                                            <i></i>
                                        </div>
                                    </div>

                                    <div class="input text short">
                                        <input type="text" id="delivery_zipcode" name="delivery_zipcode" placeholder="Kod pocztowy">
                                        <i></i>
                                    </div>

                                    <div class="input text">
                                        <input type="text" id="delivery_city" name="delivery_city" value="" placeholder="Miejscowość">
                                        <i></i>
                                    </div>

                                </div>

                        <div class="input text m-top">
                                    <input type="text" id="usn" name="usn" placeholder="Nazwa Urzędu Skarbowego">
                                    <i></i>
                                </div>

                                <div class="input text">
                                    <input type="text" id="usadr" name="usadr" placeholder="Adres Urzędu Skarbowego">
                                    <i></i>
                                </div>

                                <div class="input text">
                                    <input type="text" id="peselnip" name="peselnip" placeholder="PESEL lub NIP">
                                    <i></i>
                                </div>
                        <div class="input type-checkbox agree m-top">
                                    <input type="checkbox" id="agree" name="agree" class="ez-hide">
                                    <label for="agree">Wyrażam zgodę na przetwarzanie danych osobowych  zgodnie z ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (t.j. Dz. U. 2002r., Nr 101, poz. 926 z późn. zm.) wyłącznie w celach uczestnictwa i rozstrzygnięcia Konkursu, w tym przekazania nagrody.</label>
                                </div>
                            </fieldset>

                            <a class="next btn btn-dark" href="#step2">Dalej</a>
                        </div>

                    </section>

                    <section id="step2">
                        <div class="container">

                            <p class="lead">Upewnij się, że podane przez Ciebie dane są poprawne - po wysłaniu nie ma możliwości ich zmiany.</p>

                            <dl>
                                <dt>Imię:</dt>
                                <dd></dd>
                                <dt>Nazwisko:</dt>
                                <dd></dd>
                                <dt>Ulica:</dt>
                                <dd></dd>
                                <dt>Numer domu / mieszkania:</dt>
                                <dd></dd>
                                <dt>Kod pocztowy:</dt>
                                <dd></dd>
                                <dt>Miejscowość:</dt>
                                <dd></dd>
                                <dt>Telefon kontaktowy:</dt>
                                <dd></dd>
                                <dt>Inny adres do wysyłki nagrody</dt>
                                <dd></dd>
                                <div class="delivery_check">
                                    <dt>Ulica:</dt>
                                    <dd></dd>
                                    <dt>Numer domu / mieszkania:</dt>
                                    <dd></dd>
                                    <dt>Kod pocztowy:</dt>
                                    <dd></dd>
                                    <dt>Miejscowość:</dt>
                                    <dd></dd>
                                </div>
                                <dt>Nazwa Urzędu Skarbowego:</dt>
                                <dd></dd>
                                <dt>Adres Urzędu Skarbowego:</dt>
                                <dd></dd>
                                <dt>PESEL lub NIP:</dt>
                                <dd></dd>
                            </dl>


                            <div class="submit to-right">
                                <input type="submit" class="btn btn-dark" value="Wyślij">
                            </div>
                            <a class="prev btn" href="#step1">Zmień dane</a>


                        </div>
                    </section>

                    <section id="step3">
                        <div class="container">
                            <p class="lead">Dziękujemy za wysłanie formularza.</p>
                            <p><a href="/" class="btn btn-dark">Powrót</a></p>
                        </div>

                    </section>

                </div>
                <input type="hidden" name="hash" value="{{ hash }}" />
            </form>

        </section>
    </div>
{% endblock %}
