.clearfix {
	zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font: 400 18px/1.3333 "open-sans", Helvetica, Arial, sans-serif;
	color: #003e66;
	background: #e2e5ee;
}

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 16px;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

dl,
menu,
ol,
ul {
	margin: 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

a {
	text-decoration: none;
	color: inherit;
	outline: 0;
}

a:focus,
a:hover,
a:active {
	outline: 0;
}

input,
select,
textarea,
button {
	color: #1f3063;
	font-family: "brandon-grotesque", Arial, Helvetica, sans-serif;
}

.ez-checkbox {
	float: left;
	width: 1.4em;
	height: 1.4em;
	margin-right: 1em;
	border: 2px solid #d2d8e5;
	border-radius: 6px;
	position: relative;
	vertical-align: middle;
	background-color: #fff;
}

.ez-checkbox:before {
	content: url(../images/check.png);
	display: none;
}

.error .ez-checkbox {
	border: 1px solid #e60b44;
}

.ez-checked {
	background: url(../images/check.png) #ffffff no-repeat 50% 50%;
	background-size: 90%;
}

.ez-checkbox input {
	cursor: pointer;
	opacity: 0;
	display: block;
	width: 1.4em;
	height: 1.4em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	margin: 0 !important;
}

.type-checkbox {
	font-size: .78em;
}

#winner-form dl dd {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: .4em;
	font-size: 1.4em;
	font-weight: 400;
}

#winner-form dl dt {
	font-size: .7em;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

label {
	font-size: 1.11em;
	color: #003e66;
	font-weight: 400;
	padding-left: 2.3em;
	display: block;
}

label a {
	text-decoration: underline;
}

label a:hover {
	text-decoration: none;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1.11em;
	line-height: 1.1em 1em 0.9em;
	padding: 1em;
	height: 3em;
	border: 2px solid #d2d8e5;
	outline: 0;
	color: #1a2b67;
	font-weight: 400;
	background: #fff;
	border-radius: 15px;
	width: 100%;
	-webkit-transition: all 200ms ease 0s;
	-moz-transition: all 200ms ease 0s;
	-ms-transition: all 200ms ease 0s;
	-o-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
}

input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #1a2b67;
}

input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=email]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #1a2b67;
}

input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=email]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #1a2b67;
}

input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #1a2b67;
}

input[type=text]:focus::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder,
input[type=email]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: #bbb;
}

input[type=text]:focus:-moz-placeholder,
input[type=password]:focus:-moz-placeholder,
input[type=email]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	color: #bbb;
}

input[type=text]:focus::-moz-placeholder,
input[type=password]:focus::-moz-placeholder,
input[type=email]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: #bbb;
}

input[type=text]:focus:-ms-input-placeholder,
input[type=password]:focus:-ms-input-placeholder,
input[type=email]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color: #bbb;
}

.error input[type=text],
.error input[type=password],
.error input[type=email],
.error textarea {
	border: 1px solid #e60b44;
}

textarea {
	height: 9em;
	max-height: 9em;
}

.to-right {
	float: right;
	clear: right;
}

.btn {
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: .9em 1.2em .9em 1.2em;
	outline: 0;
	line-height: 1em;
	font-size: 1.11em;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-decoration: none !important;
	border: 1px solid #fff;
	background: #db0824;
	border-radius: 10px;
	margin: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 200ms ease 0s;
	-moz-transition: all 200ms ease 0s;
	-ms-transition: all 200ms ease 0s;
	-o-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
}

.btn:hover {
	background-color: #f71f3c;
}

.btn.btn-gray {
	background: #ebedef;
}

.btn.btn-gray:hover {
	background-color: #cfd4d8;
}

.delivery_address {
	margin-bottom: 15px;
}

.m-top {
	margin-top: 25px;
}

.grid {
	margin: 0 -5px;
	clear: left;
}

.grid > div {
	float: left;
	padding: 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid .col-1 {
	width: 100%;
	float: none;
}

.grid .col-2 {
	width: 50%;
}

.grid .col-3 {
	width: 33.3%;
}

.grid .col-4 {
	width: 25%;
}

.input {
	margin-bottom: 10px;
	zoom: 1;
}

.input:before,
.input:after {
	content: "";
	display: table;
}

.input:after {
	clear: both;
}

#main {
	width: 475px;
	margin: 0 auto;
	padding: 0 15px 50px;
}

#main h1 {
	font-size: 2em;
	font-weight: 600;
	text-align: center;
}

#main .lead {
	font-size: 1em;
	text-align: center;
	margin: 1em 0;
}

.error-message {
	line-height: 1.2em;
	font-size: .66em;
	color: #e60b44;
	text-transform: uppercase;
	margin-top: 4px;
}

#winner-form form {
	margin-top: 20px;
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#winner-form .top-error {
	margin-top: 20px;
	text-align: center;
	height: 25px;
	color: #e60b44;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#winner-form #sliders {
	width: 300%;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}

#winner-form #sliders section {
	float: left;
	width: 33.3333%;
}

#step2 .to-right,
#step2 .prev {
	margin-top: 1em;
}

#step3 {
	text-align: center;
}

#step1 .btn {
	width: 70%;
	margin: 25px auto;
	display: block;
}

@media only screen and (max-width : 960px) {

.grid .col-3 {
	width: 50%;
}

.grid .col-4 {
	width: 50%;
}

}

